<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Open Mall</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body>

    <div th:replace="base :: header"></div>       

    <div class="container mt-4">
        <div id="content" th:fragment="content">
            <div th:if="${categories}" class="row">

                <div class="text-center">  
                    <h1>Quản lý danh mục</h1>
                    <p>Đây là trang quản lý các danh mục của Open Mall</p>
                    <p>Bạn có thể <strong>thêm</strong> danh mục mới hoặc <strong>chỉnh sửa/xoá</strong> danh mục hiện tại</p>
                </div>
                
                <a th:href="@{/categories/add}" class="btn btn-success mt-2">Thêm danh mục</a>

                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Created Date</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="c : ${categories}">
                            <td th:text="${c.id}"></td>
                            <td th:text="${c.name}"></td>
                            <td th:text="${c.description}"></td>
                            <td th:text="${#dates.format(c.createdDate, 'dd-MM-yyyy')}"></td>
                            <td>
                                <a th:href="@{'/categories/' + ${c.id}}" class="btn btn-primary btn-sm">Edit</a>
                                <a th:href="@{/categories/delete/{id}(id=${c.id})}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div th:replace="base :: footer"></div>

</body>
</html>
