<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:block th:replace="base :: bootstrap"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div th:replace="base :: header"></div>

    <main class="container">
        <h1 class="mb-2 text-center">Chào mừng bạn đến với Open Mall</h1>

        <h3 class="lead text-center">Đây là trang quản trị của hệ thống Open Mall - Sàn thương mại điện tử số 1 tại Việt Nam</h3>
        
        <h2>Danh sách các danh mục </h2>
        <p th:each="cate: ${categories}" th:text="${cate.name}"></p>
    </main>
    
    <div th:replace="base :: footer"></div>
    
</body>
</html>