<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:block th:replace="base :: bootstrap"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div th:replace="base :: header"></div>

    <main class="container">
        <h1 class="mb-2 text-center">Chào mừng bạn đến với Open Mall</h1>

        <h3 class="lead text-center">Đây là trang quản trị của hệ thống Open Mall - Sàn thương mại điện tử số 1 tại Việt Nam</h3>


        <h2 class="text-center mt-3">Danh sách các danh mục </h2>


        <div class="container mt-3 mb-4">
            <div class="row">
                <div class="col-6 col-md-2 mb-4" th:each="c : ${categories}">
                    <div class="card h-100">
                        <img class="card-img-top" 
                             src="https://res.cloudinary.com/dg5ts9slf/image/upload/v1754067278/495393096_673972138668985_699751507047492857_n_fhfo1d.jpg" 
                             alt="Card image" 
                             style="width:100%">
                        <div class="card-body">
                            <h4 th:text="${c.name}" class="card-title"></h4>
                            <p th:text="${c.description}" class="card-text"></p>
                            <a th:href="@{/products}" class="btn btn-primary">Xem ngay</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </main>

    <div th:replace="base :: footer"></div>

</body>
</html>