<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Người dùng</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>

<body>

    <div th:replace="base :: header"></div>  

    <div class="container text-center">
        <h1 class="mt-2">QUẢN LÝ CỬA HÀNG</h1>
        <p>Bạn có thể thêm sản phẩm mới hoặc chỉnh sửa thông tin của cửa hàng</p> 
    </div>

    <div class="container">
        <form  method="post" th:action="@{/stores/save}" th:object="${store}" enctype="multipart/form-data">

            <div class="mb-3 mt-3">
                <label for="name" class="form-label">Tên cửa hàng: </label>
                <input type="text" class="form-control" id="name" placeholder="Tên cửa hàng" th:field="*{name}" />
            </div>

            <div class="mb-3 mt-3">
                <label for="description" class="form-label">Mô tả của hàng: </label>
                <input type="text" class="form-control" id="description" placeholder="Mô tả cửa hàng" th:field="*{description}"  />
            </div>

            <div class="mb-3 mt-3">
                <label for="user" class="form-label">Người quản lý cửa hàng:</label>
                <select class="form-select" id="user" th:field="*{userId}">
                    <option th:each="user : ${users}" 
                            th:value="${user.id}" 
                            th:text="${user.username}">
                    </option>
                </select>
            </div>

            <div class="mb-3 mt-3">
                <label for="price" class="form-label">Ngày tạo: </label>
                <input type="datetime-local" id="createdDate" class="form-control" th:field="*{createdDate}"  />
            </div>

            <div class="mb-3 mt-3">
                <label for="avatar" class="form-label">Ảnh đại diện cửa hàng: </label>
                <input type="file" class="form-control" th:field="*{file}"  />
                <img th:if="${store.avatar != null}" th:src="${store.avatar}" width="200" />
            </div>


            <div class="mb-3 mt-3">
                <input type="hidden" class="form-control" th:field="*{id}"  />
                <input type="hidden" class="form-control" th:field="*{avatar}"  />
                <button class="btn btn-success mt-1" type="submit">
                    <span th:if="${store.id == null}">Thêm cửa hàng</span>
                    <span th:unless="${store.id == null}">Cập nhật cửa hàng</span>
                </button>
            </div>
        </form>
    </div>

    <div th:replace="base :: footer"></div>

</body>
</html>



