<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Danh sách người dùng</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body>
    <div th:replace="base :: header"></div>
    <div class="container mt-4">
        <h2>Danh sách người dùng</h2>

        <form th:action="@{/users}">
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" name="username" placeholder="Nhập username..." />
            </div>
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" name="fullName" placeholder="Nhập họ tên" />
            </div>
            <div class="mb-3 mt-3">
                <select name="role" class="form-select">
                    <option value="">-- Vai trò --</option>
                    <option th:each="role : ${roles}" th:value="${role.key}" th:text="${role.value}"></option>
                </select>
            </div>
            <div class="mb-3 mt-3">
                <button class="btn btn-info" type="submit">Tìm kiếm</button>
            </div>
        </form>

        


        <table class="table">
            <thead>
                <tr>
                    <th>Ảnh đại diện</th>
                    <th>Tên đăng nhập</th>
                    <th>Họ và tên</th>
                    <th>Số điện thoại</th>
                    <th>Vai trò</th>
                    <th>Trạng thái tài khoản</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td>
                        <img th:src="${user.avatar}" class="rounded" width="80" alt="Ảnh đại diện"/>
                    </td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.fullName}"></td>
                    <td th:text="${user.numberPhone}"></td>
                    <td th:text="${roles[user.role]}"></td>
                    <td th:text="${user.isVerified ? 'Đã xác minh' : 'Chưa xác minh'}"></td>

                    <td>
                        <a th:href="@{'/users/' + ${user.id}}" class="btn btn-primary">Edit</a>
                        <a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
          <a th:href="@{/users/add}" class="btn btn-success mt-2">Thêm người dùng mới</a>
    </div>
    <div th:replace="base :: footer"></div>
</body>
</html>
